@page "/"

<div class="sidenav">
    <!-- Display the logged in user's name or "Not Authorized" if they aren't authorized. -->
    <LoginDisplay />

    <div id="ObjectInformation">
        <h1></h1>
        <!-- foreach (property in object) -->
    </div>
</div>

<GameScreen />

<Controls />

@code {

}